/* Golbal  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
:root {
  --para-color: #696969;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #696969;
  --bg-color: #fff;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
}

[data-theme="dark"] {
  --para-color: #afafaf;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --iframe-filter: grayscale(100%);
  --widget-bg: #131617;
}
.noscroll {
  overflow: hidden;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}
body a,
button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}
header,
nav,
footer,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color);
  text-align: left;
  background-color: var(--dropdown-color);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

h2,
.h2 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}

h3,
.h3 {
  font-size: 1.75rem;
}
/* screen and bài cô có nhưng đây không có */
@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}

h4,
.h4 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Jost", sans-serif;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Jost", sans-serif;
}

a {
  color: #189a46;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #189a46;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
select {
  text-transform: none;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}
.border-btn:hover {
  color: #189a46;
  background: #fff;
}
.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.btn-primary:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.align-items-center {
  align-items: center !important;
}
.ml-lg-auto,
.mx-lg-auto {
  margin-left: auto !important;
}
select {
  word-wrap: normal;
}
.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.radius-image {
  border-radius: var(--border-radius);
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

.sub-title span {
  color: red;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

a.read:hover {
  color: #189a46;
}
a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

/* poochcare__carousel  */

.pc_carousel_content {
  position: relative;
}

.item__pc__bg {
  min-height: calc(100vh - 40px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  padding: 3em 0;
}
.item__pc__bg::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.pc__bg__01 {
  background-image: url(../img/banner1.jpg);
}
.pc__bg__02 {
  background-image: url(../img/banner2.jpg);
}
.pc__bg__03 {
  background-image: url(../img/banner3.jpg);
}
.pc__bg__04 {
  background-image: url(../img/banner4.jpg);
}

.item__pc__content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bg-mw700 {
  max-width: 700px;
}
.poochcare__carousel h5 {
  font-size: 66px;
  word-wrap: break-word;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.poochcare__carousel p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

@media (max-width: 1200px) {
  .poochcare__carousel h5 {
    font-size: 52px;
    line-height: 62px;
  }

  .poochcare__carousel p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .poochcare__carousel h5 {
    font-size: 50px;
    line-height: 55px;
  }

  .poochcare__carousel .owl-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .poochcare__carousel p {
    font-size: 16px;
  }
  .item__pc__bg {
    min-height: 580px;
  }
}

@media (max-width: 600px) {
  .item__pc__bg {
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .poochcare__carousel p {
    font-size: 32px;
    line-height: 42px;
  }
  .item__pc__bg {
    min-height: 480px;
  }
}
@media (max-width: 440px) {
  .item__pc__bg {
    min-height: 440px;
  }
}

/* POOCHARE__ABOUT  */
.poochcare__about .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}
/*END POOCHARE__ABOUT  */

/* header */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
#Poochcare .container {
  height: auto;
}
#Poochcare .container{
  align-items: center;
 justify-content: space-around;
}


#Poochcare .dropdown-menu {
  border-radius: 10px;
  border: 1px solid #ddd;
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
  transform: translateX(-34px);
}
#Poochcare .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  border: 1px solid #ddd;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}
.navbar h1 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.fixed-top {
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
}
.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 10px;
  padding-left: 2px;
  font-weight: 600;
}

#Poochcare .navbar-toggler-icon::before {
  content: "\f0c9";
}
#Poochcare .dropdown-item::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  display: block;
  transition: all 0.5s;
}

#Poochcare .dropdown-item:hover::after {
  width: 56%;
}
#Poochcare .dropdown-item:hover {
  color: var(--primary-color);
}

#Poochcare .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  transition: all 0.5s;
}
#Poochcare .nav-item:hover::after {
  width: 100%;
}
#Poochcare .nav-link:hover {
  color: var(--primary-color);
}
#active {
  color: var(--primary-color);
}
/* #Poochcare .icon-close {
  display: none;
} */
#Poochcare .icon-expand {
  display: block;
}
.fa-times{
  content: "\f00d" ;
}

.theme-switch-wrapper {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}
/* .theme-switch-wrapper i{
  color: var(--heading-color);
} */

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: none;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
}

.mode-container i.gg-moon {
  display: block;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}

@media screen and (max-width: 991px) {
  #Poochcare .navbar-toggler-icon {
    background-color: #189a46;
    color: #fff;
    line-height: 34px;
    border-radius: 5px;
  }
  #Poochcare .navbar-toggler{
    border: 0 none;
    font-size: 22px;
    padding: 0rem 0rem;
  }
  header{
    height: auto;
    padding: 15px 0;
  }
  #Poochcare  .mobile-position{
    position: absolute; 
    right: 56px;
    top: 18px;
    
}

/* @media screen and (max-width: 800px){
  .mobile-position{
    position: absolute;
    right: 2px;
    top: 1px;
} */
  }
  }
  #Poochcare .nav-item:hover::after {
    width: 0;
  }
  #PoochNav {
    background-color: var(--bg-color);
  }
}
/* poochcare__service */

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

.service__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
  font-family: "Jost", sans-serif;
  color: var(--font-color);
}
.service__text li {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
  list-style: none;
  outline: none;
  font-family: "Jost", sans-serif;
}
.service__text .fa {
  color: var(--primary-color);
  margin-right: 12px;
  background-color: rgb(147 107 232 / 5%);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}
body img {
  border-radius: 10px;
}
.service__content .service__text {
  align-self: center;
}

/* End Header  */

/* POOCHARE__FEATURE  */
.poochcare__feature {
  background-color: var(--bg-light);
}
.poochcare__feature .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
}
.poochcare__feature .area-box:hover {
  background: var(--bg-light);
}
.poochcare__feature .area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}
.poochcare__feature .area-box h4 a:hover {
  color: #189a46;
}

.poochcare__feature .icon span.fa {
  color: #189a46;
  font-size: 30px;
}

/* END POOCHARE__FEATURE  */

/* POOCHCARE__NUMBER */
.poochcare__number {
  background-color: #189a46;
}
.number__info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}
.number__info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number__info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

.number__info span.fa {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
}

@media (max-width: 992px) {
  .number__info p {
    font-size: 40px !important;
    line-height: 50px;
  }

  .number__info h4 {
    font-size: 18px !important;
  }
}

@media (max-width: 737px) {
  .number__info {
    padding: 0 5px !important;
  }

  .number__info p {
    font-size: 35px !important;
    line-height: 38px;
    margin-top: 20px;
  }

  .number__info h4 {
    font-size: 17px !important;
  }
}

@media (max-width: 415px) {
  .number__info span.fa {
    font-size: 2em !important;
  }
}

/*End Number */

/* POOCHCARE__TESTIMONIALS */
.poochcare__testimonials {
  background: var(--bg-light);
}
.poochcare__testimonials .testimonial-width {
  max-width: 1050px;
  margin: auto;
}

.poochcare__testimonials .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.poochcare__testimonials .testi-des {
  display: flex;
  text-align: center;
}
.poochcare__testimonials .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}
.poochcare__testimonials blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--para-color);
}

.poochcare__testimonials blockquote q::before {
  font-size: 50px;
  color: #189a46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.poochcare__testimonials .testi-des {
  display: flex;
  text-align: center;
}
.poochcare__testimonials .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.poochcare__testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.poochcare__testimonials .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.poochcare__testimonials .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.poochcare__testimonials p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 10px;
  background: #d8d8d8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
}

.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}
@media (max-width: 667px) {
  .testimonial-carousel.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
    display: none;
  }
}

/*END POOCHCARE__TESTIMONIALS */

/* PLAN */
.poochcare__plan {
  background: var(--bg-light);
}
.plan__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
.poochcare__plan .plan__text h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.plan__content .plan__item {
  background-color: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}
.plan__bg {
  padding: 3.5em 2.5em;
  border-right: 0;
}
.plan__top {
  text-align: center;
}
.plan__top h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
.plan__top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Jost", sans-serif;
}
.plan__top h4 label {
  font-size: 25px;
  vertical-align: text-top;
  font-family: "Jost", sans-serif;
  outline: none;
}
.plan__top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.plan__bot {
  text-align: center;
  padding-top: 1em;
}
.plan__bot-bot ul.link {
  min-height: 120px;
}
.plan__bot-bot ul.link li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
.plan__bot-bot ul.link li p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}
.plan__button {
  margin-top: 2em;
}
.item-2 .plan__bga .plan__top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.item-2 .plan__bga .plan__top h4 {
  color: #fff;
}
.item-2 .plan__bga .plan__bot {
  padding: 2em 2.5em 3.5em;
  background-color: var(--bg-color);
  box-shadow: rgb(133, 132, 132);
}
.item-2 .plan__top h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}
.item-2 .plan__top h6 {
  color: #fff;
}
.poochcare__plan .plan__list .active {
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}

@media screen and (max-width: 991px) {
  .plan__button {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .plan__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
    width: 60%;
  }
}
@media screen and (max-width: 568px) {
  .plan__list {
    grid-gap: 20px;
    margin: 30px auto;
  }
}
@media screen and (max-width: 768px) {
  .plan__list {
    width: 75%;
  }
}
/* END PLAN */

/* POOCHCARE__NUTRITION */
.poochcare__nutrition {
  background: var(--bg-color);
}
.nutrition {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.nutrition-middle-section {
  max-width: 950px;
  margin: 0 auto;
}
.nutrition-middle-section h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
}
.poochcare__nutrition span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}
.poochcare__nutrition span.video-play-icon span {
  color: var(--primary-color);
}
.poochcare__nutrition span.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.poochcare__nutrition span.fa.fa-play {
  line-height: 55px;
}
.poochcare__nutrition .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.small-dialog {
  margin: 40px auto;
  position: relative;
  bottom: -100px;
  transition: 0.3s ease-in-out;
}
.small-dialog iframe {
  height: 400px;
  width: 100%;
}
.popup {
  display: none;
  position: fixed;
  /* padding-top: 50px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.897); */
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 1045;
  transition: 0.3s ease-in-out;
}

.close-btn {
  line-height: 40px;
  position: absolute;
  right: 25%;
  top: -40px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: "Jost", sans-serif;
  background: transparent;
  transition: 0.3s ease-in-out;
}
.close-btn:hover {
  color: #d2d2d2;
}
.poochcare__nutrition span.close-btn:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .poochcare__nutrition .nutrition-middle-section h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 667px) {
  .poochcare__nutrition .nutrition-middle-section h2 {
    font-size: 32px !important;
    line-height: 42px;
  }
  .poochcare__nutrition .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 28px);
  }
}

/* END POOCHCARE__NUTRITION */

/* POOCHCARE__UPDATE */
.subscribe {
  max-width: 650px;
}
.poochcare__updated .subscribe__form input {
  font-size: 16px;
  color: var(--title-color);
  border-radius: var(--border-radius);
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.poochcare__updated .subscribe__form input:focus {
  border: 1px solid #189a46;
  box-shadow: none;
}
.poochcare__updated .subscribe__form button {
  flex-basis: 27%;
  box-shadow: none;
}

@media screen and (max-width: 667px) {
  .poochcare__updated .subscribe__form button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}

/* END POOCHCARE__UPDATE */

/* FOOTER */

.poochcare__footer {
  background-color: #111;
}
.poochcare__footer h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.poochcare__footer li {
  list-style: none;
  margin-bottom: 5px;
}
.poochcare__footer li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--para-color);
}
.footer-social a span {
  font-size: 16px;
  color: var(--para-color);
}
.footer-social a span:hover {
  color: #fff;
  transition: 0.3s ease-in;
}
.poochcare__footer li a {
  font-weight: normal;
  font-size: 16px;
  color: var(--para-color);
  line-height: 28px;
}
.poochcare__footer li a:hover {
  color: white;
  text-decoration: underline;
}
.poochcare__footer .icon {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.poochcare__footer .icon li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}
.poochcare__footer .icon li a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
}
.poochcare__footer .icon li a:hover {
  color: white;
  text-decoration: underline;
}
.poochcare__footer .mid-footer {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.poochcare__footer .mid-footer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--para-color);
  margin-bottom: 0;
}
.poochcare__footer .mid-footer p a {
  color: var(--secondary-color);
  opacity: 0.9;
}
.poochcare__footer .mid-footer p a:hover {
  text-decoration: underline;
}

/* END FOOTER */

.backToTop {
  position: fixed;
  right: 15px;
  bottom: 90px;
  z-index: 99;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 47px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  border-style: solid;
  border-width: 0;
  background-color: var(--primary-color);
  padding: 0;
  transition: 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  /* display: block; */
}
.backToTop:hover {
  color: #fff;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-out;
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 5147px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1478px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/

/* RIPPLE  */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
