/* Golbal  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: #fff;
  color: #696969;
}
body a, button, .btn {
  cursor: pointer !important;
  font-family: 'Jost', sans-serif;
}
header,
nav,
footer,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000c04;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

h2,
.h2 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}

h3,
.h3 {
  font-size: 1.75rem;
}
/* screen and bài cô có nhưng đây không có */
@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}

h4,
.h4 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: 'Jost', sans-serif;
}

a {
  color: #189a46;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #189a46;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
select {
  text-transform: none;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}
.border-btn:hover {
  color: #189a46;
  background: #fff;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.align-items-center {
  align-items: center !important;
}
.ml-lg-auto,
.mx-lg-auto {
  margin-left: auto !important;
}
select {
  word-wrap: normal;
}
.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.sub-title span {
  color: #000c04;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

a.read:hover {
  color: #189a46;
}
a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

/* poochcare__carousel  */

.pc_carousel_content {
  position: relative;
}

.item__pc__bg {
  min-height: calc(100vh - 40px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  padding: 3em 0;
}
.item__pc__bg::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.pc__bg__01 {
  background-image: url(../img/banner1.jpg);
}
.pc__bg__02 {
  background-image: url(../img/banner2.jpg);
}
.pc__bg__03 {
  background-image: url(../img/banner3.jpg);
}
.pc__bg__04 {
  background-image: url(../img/banner4.jpg);
}

.item__pc__content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bg-mw700 {
  max-width: 700px;
}
.poochcare__carousel h5 {
  font-size: 66px;
  word-wrap: break-word;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.poochcare__carousel p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

@media (max-width: 1200px) {
  .poochcare__carousel h5 {
    font-size: 52px;
    line-height: 62px;
  }

  .poochcare__carousel p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .poochcare__carousel h5 {
    font-size: 50px;
    line-height: 55px;
  }

  .poochcare__carousel .owl-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .poochcare__carousel p {
    font-size: 16px;
  }
  .item__pc__bg {
    min-height: 580px;
  }
}

@media (max-width: 600px) {
  .item__pc__bg {
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .poochcare__carousel p {
    font-size: 32px;
    line-height: 42px;
  }
  .item__pc__bg {
    min-height: 480px;
  }
}
@media (max-width: 440px) {
  .item__pc__bg {
    min-height: 440px;
  }
}

/* POOCHARE__ABOUT  */
.poochcare__about .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}
/*END POOCHARE__ABOUT  */

/* header */
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
#Poochcare .container {
  height: auto;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46;
}
.navbar h1 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.fixed-top {
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: #000c04;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}
#Poochcare .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #35a22c;
  display: block;
  transition: all 0.5s;
}
#Poochcare .nav-item:hover::after {
  width: 100%;
}
#Poochcare .nav-link:hover {
  color: #189a46;
}
#active {
  color: #189a46;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  font-style: italic;
}
.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  #Poochcare .navbar-toggler {
    background-color: #189a46;
  }
  #Poochcare .nav-item:hover::after {
    width: 0;
  }
  #PoochNav {
    background-color: #fff;
  }
}

/* End Header  */

/* POOCHARE__FEATURE  */
.poochcare__feature {
  background-color: rgba(147, 107, 232, 0.05);
}
.poochcare__feature .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.poochcare__feature .area-box:hover {
  background: rgb(147 107 232 / 5%);
}
.poochcare__feature .area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}
.poochcare__feature .area-box h4 a:hover {
  color: #189a46;
}

.poochcare__feature .icon span.fa {
  color: #189a46;
  font-size: 30px;
}

/* END POOCHARE__FEATURE  */

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 5147px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1478px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/
