/* Golbal  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: #fff;
  color: #696969;
}
body a,
button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}
header,
nav,
footer,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000c04;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

h2,
.h2 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}

h3,
.h3 {
  font-size: 1.75rem;
}
/* screen and bài cô có nhưng đây không có */
@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}

h4,
.h4 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}

a {
  color: #189a46;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #189a46;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
select {
  text-transform: none;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}
.border-btn:hover {
  color: #189a46;
  background: #fff;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.align-items-center {
  align-items: center !important;
}
.ml-lg-auto,
.mx-lg-auto {
  margin-left: auto !important;
}
select {
  word-wrap: normal;
}
.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.sub-title span {
  color: #000c04;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

a.read:hover {
  color: #189a46;
}
a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

/* poochcare__carousel  */

.pc_carousel_content {
  position: relative;
}

.item__pc__bg {
  min-height: calc(100vh - 40px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  padding: 3em 0;
}
.item__pc__bg::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.pc__bg__01 {
  background-image: url(../img/banner1.jpg);
}
.pc__bg__02 {
  background-image: url(../img/banner2.jpg);
}
.pc__bg__03 {
  background-image: url(../img/banner3.jpg);
}
.pc__bg__04 {
  background-image: url(../img/banner4.jpg);
}

.item__pc__content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bg-mw700 {
  max-width: 700px;
}
.poochcare__carousel h5 {
  font-size: 66px;
  word-wrap: break-word;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.poochcare__carousel p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

@media (max-width: 1200px) {
  .poochcare__carousel h5 {
    font-size: 52px;
    line-height: 62px;
  }

  .poochcare__carousel p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .poochcare__carousel h5 {
    font-size: 50px;
    line-height: 55px;
  }

  .poochcare__carousel .owl-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .poochcare__carousel p {
    font-size: 16px;
  }
  .item__pc__bg {
    min-height: 580px;
  }
}

@media (max-width: 600px) {
  .item__pc__bg {
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .poochcare__carousel p {
    font-size: 32px;
    line-height: 42px;
  }
  .item__pc__bg {
    min-height: 480px;
  }
}
@media (max-width: 440px) {
  .item__pc__bg {
    min-height: 440px;
  }
}

/* POOCHARE__ABOUT  */
.poochcare__about .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
@media (max-width: 1080px) {
  .hny-title {
    font-size: 35px !important;
    line-height: 40px;
  }
}
/*END POOCHARE__ABOUT  */

/* header */
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
#Poochcare .container {
  height: auto;
}

#Poochcare .dropdown-menu{
  border-radius: 10px;
  border: 1px solid #ddd;
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
  transform: translateX(-34px);
}
#Poochcare .dropdown-menu::before{
  content: '';
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}
.navbar .navbar-brand{
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
}
.navbar h1{
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.fixed-top{
    top: 40px ;
    right: 0;
    left: 0;
    z-index: 1030;

}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: #000c04;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}

#Poochcare .navbar-toggler-icon::before{
  content: "\f0c9";
}
#Poochcare .dropdown-item::after{
  content: "";
width: 0;
height: 1px;
background-color: #35a22c;
display: block;
transition: all .5s;
}

#Poochcare .dropdown-item:hover::after{
  width: 56%;
}
#Poochcare .dropdown-item:hover{
  color: #189a46;
}

#Poochcare .nav-item::after{
content: "";
width: 0;
height: 3px;
background-color: #35a22c;
display: block;
transition: all .5s;

}
#Poochcare .nav-item:hover::after {
  width: 100%;
}
#Poochcare .nav-link:hover {
  color: #189a46;
}
#active {
  color: #189a46;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  font-style: italic;
}
.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  #Poochcare .navbar-toggler{
    padding: 0rem 0rem;
    border: 0 none;
    font-size: 22px;
    background-color: #189a46;
    color: #fff;
  }
  #Poochcare .nav-item:hover::after {
    width: 0;
  }
  #PoochNav {
    background-color: #fff;
  }
  .gg-moon{
    position: absolute;
    right: 72px;
    top: 22px;
    align-self: center;
  }
  
}
/* portfolio */

.sub-title{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.hny-title{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  font-family: 'Jost', sans-serif;
}
.portfolio__text p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
  font-family: 'Jost', sans-serif;
  color: #696969;
}
.portfolio__text li{
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
  list-style: none;
  outline: none;
  font-family: 'Jost', sans-serif;
}
.portfolio__text .fa{
  color: #189a46;
  margin-right: 12px;
  background-color: rgb(147 107 232 / 5%);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  
}
body img{
  border-radius: 10px;
}
.portfolio__content .portfolio__text{
  align-self: center;
}

/* End Header  */

/* POOCHARE__FEATURE  */
.poochcare__feature {
  background-color: rgba(147, 107, 232, 0.05);
}
.poochcare__feature .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.poochcare__feature .area-box:hover {
  background: rgb(147 107 232 / 5%);
}
.poochcare__feature .area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}
.poochcare__feature .area-box h4 a:hover {
  color: #189a46;
}

.poochcare__feature .icon span.fa {
  color: #189a46;
  font-size: 30px;
}

/* END POOCHARE__FEATURE  */

/* POOCHCARE__NUMBER */
.poochcare__number {
  background-color: #189a46;
}
.number__info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}
.number__info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number__info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

.number__info span.fa {
  font-size: 2.5em;
  color: #fff;
  margin: 0;
}

@media (max-width: 992px) {
  .number__info p {
    font-size: 40px !important;
    line-height: 50px;
  }

  .number__info h4 {
    font-size: 18px !important;
  }
}

@media (max-width: 737px) {
  .number__info {
    padding: 0 5px !important;
  }

  .number__info p {
    font-size: 35px !important;
    line-height: 38px;
    margin-top: 20px;
  }

  .number__info h4 {
    font-size: 17px !important;
  }
}

@media (max-width: 415px) {
  .number__info span.fa {
    font-size: 2em !important;
  }
}

/*End Number */

/* POOCHCARE__TESTIMONIALS */
.poochcare__testimonials {
  background: rgb(147 107 232 / 5%);
}
.poochcare__testimonials .testimonial-width {
  max-width: 1050px;
  margin: auto;
}

.poochcare__testimonials .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.poochcare__testimonials .testi-des {
  display: flex;
  text-align: center;
}
.poochcare__testimonials .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}
.poochcare__testimonials blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.poochcare__testimonials blockquote q::before {
  font-size: 50px;
  color: #189a46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.poochcare__testimonials .testi-des {
  display: flex;
  text-align: center;
}
.poochcare__testimonials .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.poochcare__testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.poochcare__testimonials .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.poochcare__testimonials .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.poochcare__testimonials p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 10px;
  background: #d8d8d8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
}

.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.testimonial-carousel.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}
@media (max-width: 667px) {
  .testimonial-carousel.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
    display: none;
  }
}

/*END POOCHCARE__TESTIMONIALS */

/* PLAN */
.poochcare__plan{
  background: rgba(147, 107, 232, 0.05);
}
.plan__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
.plan__content .plan__item{
  background-color: #fff;
  border-radius: 6px;
  align-self: center;
}
.plan__bg{
  padding: 3.5em 2.5em;
  border-right: 0;
}
.plan__top{
  text-align: center;
}
.plan__top h6{
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Jost', sans-serif;
}
.plan__top h4{
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
  font-family: "Jost", sans-serif;
}
.plan__top h4 label{
  font-size: 25px;
  vertical-align: text-top;
  font-family: "Jost", sans-serif;
  outline: none;
}
.plan__top h4 span{
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.plan__bot{
  text-align: center;
  padding-top: 1em;
}
.plan__bot-bot ul.link{
  min-height: 120px;
}
.plan__bot-bot ul.link li{
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
.plan__bot-bot ul.link li p{
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}
.plan__button{
  margin-top: 2em;
}
.item-2 .plan__bga .plan__top{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #189a46;
  padding: 3.5em 2.5em;
}
.item-2 .plan__bga .plan__top h4{
  color: #fff;
}
.item-2 .plan__bga .plan__bot{
  padding: 2em 2.5em 3.5em;
  background-color: #ffffff;
}
.item-2 .plan__top h5{
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}
.item-2 .plan__top h6{
  color: #fff;
}
@media screen and (max-width: 991px) {
  .plan__button{
    display: none;
  }
  
}
@media screen and (max-width: 800px) {
  .plan__list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
    width: 60%;
  }
}
@media screen and (max-width: 568px) {
  .plan__list{
    grid-gap: 20px;
    margin: 30px auto;
  }
}
@media screen and (max-width: 768px) {
  .plan__list{
    width: 75%;
  }
}
/* END PLAN */

/* POOCHCARE__UPDATE */
.subscribe{
  max-width: 650px;
}
.poochcare__updated .subscribe__form input{
  font-size: 16px;
  color: #696969;
  border-radius: 10px;
  padding: 0px 20px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.poochcare__updated .subscribe__form input:focus{
  border: 1px solid #189a46;
  box-shadow: none;
}
.poochcare__updated .subscribe__form button{
  flex-basis: 27%;
  box-shadow: none;
  background-color: #189a46;
  border-color: #189a46;
}
@media screen and (max-width: 667px) {
  .poochcare__updated .subscribe__form button{
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
  
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 5147px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1478px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/
